
.style-a {
    color: limegreen;
    font-weight: bolder;
    text-decoration: none
}

.custom-list {
    list-style-type: none;
    padding: 0;
}

.custom-list li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.custom-list div {
    padding: 5px 0;
}

.custom-list-div {
    margin-left: auto;
    color: limegreen;

}

.col-0 {
    display: none;
}

@media (min-width: 768px) {
    .col-0 {
        display: block;
    }
}

.text-brown {
    color: #cccccc;
    font-weight: bolder;
}

.hexagon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 3px;
}

.hexagon {
    width: 10vw; /* Chiều rộng của hexagon sẽ phụ thuộc vào 20% của viewport width */
    height: 9vw; /* Chiều cao là khoảng 86.6% của chiều rộng để giữ tỷ lệ lục giác chuẩn */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #13653f;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hexagon-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%; /* Điều chỉnh kích thước nội dung nếu cần */
}

.hexagon-text {
    color: white;
    font-weight: bold;
    z-index: 1;
}

.hexagon-label {
    position: absolute;
    bottom: 5%;
    font-size: 1.5em;
    color: white;
    z-index: 1;
    padding-top: 5px;
}

@media (max-width: 768px) {
    .hexagon {
        width: 15vw; /* Tăng kích thước lục giác trên điện thoại để dễ đọc hơn */
        height: 15vw; /* Tương ứng với chiều rộng để giữ tỷ lệ */
    }

    .hexagon-text {
        font-size: 1.3vw; /* Giảm kích cỡ font cho vừa vặn trên màn hình nhỏ */
    }

    .text-brown {
        font-size: inherit;
    }

    .hexagon-label {
        font-size: 2vw;
    }
}

@media (min-width: 769px) {
    .hexagon {
        width: 8vw; /* Điều chỉnh lại kích thước trên máy tính */
        height: 8vw;
    }
}

.hexagon-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Để sắp xếp nội dung theo chiều dọc */
    height: 100%;
    width: 100%;
}

.hexagon-text {
    font-weight: bolder;
    margin-bottom: 40px;
    color: white;
}

.hexagon-label {
    color: #fff3cd;
    text-align: center;
    position: absolute;
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 10px;
    font-weight: bolder;
}

.ladi-headline {
    text-align: center;
    /*color: #5cac38;*/
    color: limegreen;
    margin-top: 10px;
}