

.style-a {
    color: limegreen;
    font-weight: bolder;
    text-decoration: none
}

.custom-list {
    list-style-type: none;
    padding: 0;
}

.custom-list li {
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
}

.custom-list div {
    padding: 3px 0;

}

.custom-list-div {
    margin-left: auto;
    color: limegreen;
}

.col-0 {
    display: none;
}

@media (min-width: 768px) {
    .col-0 {
        display: block;
    }
}

.text-brown {
    color: #cccccc;
    font-weight: bold;
}

.hexagon-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 16px;
    margin-top: 20px;
}

.hexagon {
    max-width: calc(25% - 15px); /* Giả sử bạn muốn có khoảng cách 10px giữa các hình */
    width: 120px;
    height: 69px;
    background-color: #eee;
    margin-top: 34px;
    position: relative;
    border-left: 2px solid #dfc2c4;
    border-right: 2px solid #dfc2c4;
    margin-bottom: 34px; /* thêm khoảng cách phía dưới */
}

.hexagon::before, .hexagon::after {
    content: '';
    position: absolute;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
}

.hexagon::before {
    top: -34px;
    border-bottom: 34px solid #2f8032;
}

.hexagon::after {
    bottom: -34px;
    border-top: 34px solid #2f8032;
}

/* Media query cho điện thoại */
@media (max-width: 480px) {
    .hexagon {
        max-width: 100%; /* Cho phép hình lục giác mở rộng tối đa */
        width: 25%; /* Cố định chiều rộng trên điện thoại */
    }
}

.hexagon-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Để sắp xếp nội dung theo chiều dọc */
    height: 100%;
    width: 100%;
}

.hexagon-text {
    font-weight: bolder;
    margin-bottom: 40px;
    color: #6a1a21;
}

.hexagon-label {
    color: #6a1a21;
    text-align: center;
    position: absolute;
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 10px;
    font-weight: bolder;
}

.ladi-headline {
    text-align: center;
    /*color: #5cac38;*/
    color: limegreen;
    margin-top: 10px;
}